<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Трекер задач</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
</head>

<body>
<form th:action="@{/task}" th:object="${task}" method="POST">
    Название: <input th:field="*{title}"/> <br>
    Описание: <input th:field="*{description}"/> <br>
    Исполнитель:
    <select th:field="*{executor}">
        <option value="Андронов" th:text="Андронов" label="Андронов" />
        <option value="Кирюшин" th:text="Кирюшин" label="Кирюшин" />
    </select> <br>
    Автор:<input th:field="*{owner}"/> <br>

    <input type="submit" value="Submit" />
</form>
<a th:href="@{/}">на Главную страницу</a>
</body>
</html>
